figure {
  &.position-wide {
    @apply w-full px-0 py-8;
  }

  &.position-center {
    @apply m-auto px-0 py-8;
    min-width: $content-width - 10rem;
    width: 75%;
  }

  &.position-left {
    @apply float-left mt-0 mr-4 mb-4 ml-0;
    width: 40%;
  }

  &.position-right {
    @apply float-right mt-0 mr-0 mb-4 ml-4;
    width: 40%;
  }
}
