figure {
  &.position-wide {
    padding: 2rem 0;
    width: 100%;
  }

  &.position-center {
    margin: auto;
    min-width: $content-width - 10 rem;
    padding: 2rem 0;
    width: 75%;
  }

  &.position-left {
    float: left;
    margin: 0 1rem 1rem 0;
    width: 40%;
  }

  &.position-right {
    float: right;
    margin: 0 0 1rem 1rem;
    width: 40%;
  }
}
