.rich-text {
  @apply subpixel-antialiased text-gray-800;

  h1, h2, h3, h4, h5, p {
    @apply mb-4;
  }

  h1 {
    @apply text-4xl text-black font-display;
  }

  h2 {
    @apply text-3xl text-black font-display;
  }

  h3 {
    @apply text-2xl text-black font-display;
  }

  h4 {
    @apply text-base font-display uppercase text-gray-700;
  }

  h5 {
    @apply text-sm font-display uppercase text-gray-700;
  }

  ul {
    @apply list-disc ml-4 mb-4;

    ul {
      @apply mb-0;
    }
  }

  ol {
    @apply list-decimal ml-4 mb-4;

    ol {
      @apply mb-0;
    }
  }

  a {
    @apply text-blue-600 underline;

    &:hover {
      @apply text-blue-800;
    }
  }
}
